@import "tailwindcss";

/*
Background color: #121713
Box color: #2b362e
Main text color: #ffffff
Seconary color: #a1b5a6
Main button color: #23863d

*/


:root {
  --background: #f6f9f7;
  --box: #ffffff;
  --text-main: #121713;
  --secondary: #4a5c50;
  --button-main: #23863d;
}

@theme inline {
  --color-background: var(--background);
  --color-box: var(--box);
  --color-text-main: var(--text-main);
  --color-secondary: var(--secondary);
  --color-button-main: var(--button-main);
}


/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #121713;
    --box: #2b362e;
    --text-main: #ffffff;
    --secondary: #a1b5a6;
    --button-main: #23863d;
    
  }
}

/* Shape and text position for buttons */
@layer components {
  .btn {
    @apply px-5 h-10 rounded-lg inline-flex items-center justify-center;
  }
}

body {
  @apply bg-background text-text-main;
}