version: '3.8'
# boilerplate docker-compose file for PostgreSQL database, used for testing. should be removed later, when we have full docker-compose setup for the entire project
services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: logindb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: